.orange-color{
    color: orange;
}
body{
    font-family: 'Inconsolata', monospace;
    text-align: justify;
}
.section1_h3font{
    font-family: 'Times New Roman', Times, serif;
}
.section_pfont{
    font-weight: 400;
    font-style: italic;
    font-size: larger;
}
.display{
    display: flex;
    margin: 1%;
    
    
}
.section1width{
    width: 50%;
    
}
.section1width img{
    width: 80%;
    padding-left: 15%;
}

.section3width{
    border-left: 5px solid blue;
    border-radius:7%;
    border-image: linear-gradient(red tomato);
    border-image-slice: 1;
    box-shadow:5px 5px 5px green;
    height: 145px;
    margin-left: 5%;
    
    
    
    
}


.section33width{
    border-left: 5px solid rgb(190, 26, 34);
    border-radius:7%;
    border-image: linear-gradient(red tomato);
    border-image-slice: 1;
    box-shadow:5px 5px 5px green;
    

    
    
    
    
  
    
}

.bby{
    padding-top: 0%;
    padding-left: 5%;
    margin-top:100px ;
    
}
.bby2{
    
    padding-left: 5%;
    
    
}
.background{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.hiremebutton{
    background-image:linear-gradient(blue,tomato);
    text-decoration: none;
    color: rgb(241, 240, 240);
    background-color: darkgoldenrod;
    padding: 14px 25px;
    border-radius: 50%;
}
.background2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.background3{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}



.btn {
    background-image:linear-gradient(blue,tomato);
    text-decoration: none;
    border-radius: 50%;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  .section3ex{
      padding-left: 50%;
  }

  .section11width{
    width: 40%;
    
}